<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZipaFest</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/category.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.51/build/spline-viewer.js"></script>
    <script src="../Model/header.js" defer></script>
</head>
<body>
<!-- ========================= HEADER ========================= -->
<header>
     <a href="../public/index.html" class="header-logo"><img src="../public/img/Logo/Negativo.svg" alt="ZipaFest Logo"></a>
     <ul class="nav-links">
        <li class="category">
            <a href="#">CATEGORÍAS
                <span class="material-icons dropdown-icon">
                    expand_more
                </span>
            </a>
            <ul class="drop-down">
                <li><a href="../view/Burger.html">BURGER FEST</a></li>
                <li><a href="../view/Cake.html">TORTA FEST</a></li>
                <li><a href="../view/Pizza.html">PIZZA FEST</a></li>
                <li><a href="../view/Empanada.html">EMPANADA FEST</a></li>
                <li><a href="../view/Coffee.html">COFFEE MASTER</a></li>
            </ul>
        </li>
        <li> <a href="../view/Rewards.html">CUPONES</a></li>
        <li> <a href="../view/AboutUs.html">SOBRE NOSOTROS</a></li>
    </ul>
    
    <div class="header-right">
        <a href="../view/Contact.html" class="contact-link">. CONTACTANOS .</a>
        <a href="" class="login-button">INGRESAR</a>
    </div>
</header>
<!-- ======================= END HEADER ======================= -->
 <!-- ===================== CATEGORIES SECTION ===================== -->
<main>

<section class="intro-section">
    <div class="intro-container">
        <div class="intro-text" id="intro-text">
            <h1>COFFEE<hr><p>MASTER</p></h1>
            <p>Coffee Master es el evento cumbre que celebra la pasión y el arte detrás de cada taza. 
               Sumérgete en un mundo de aromas y sabores donde podrás disfrutar de degustaciones de granos exóticos, 
               talleres de barismo y métodos de extracción, y charlas con maestros tostadores. 
               Un festival para descubrir, aprender y vivir la cultura del café de especialidad como nunca antes. 
               </p>
        </div>
    </div>
</section>
<!-- ======================= WINNERS SECTION ======================= -->
<section class="winners-section">
    <div class="winners-container">
        <h2 class="section-title-winners">Ganadores del Coffee Master</h2>
        <div class="winners-flex">

            <!-- GANADOR 1 -->
            <div class="winner-card">
                <div class="winner-content">
                    <span class="winner-category">GANADOR 2023</span>
                    <h3 class="winner-plate-name">Aroma de Origen</h3>
                    <p class="winner-description">
                        Un espresso perfectamente extraído de granos Geisha de altura, cultivados localmente. Con notas a jazmín, bergamota y un cuerpo sedoso que cautivó al jurado, redefiniendo la pureza del café de origen.
                    </p>
                </div>
                <div class="winner-image">
                    <img src="../public/img/cafe_almojabanero.png" alt="Café Ganador 2023 - Aroma de Origen">
                </div>
            </div>

            <!-- GANADOR 2 -->
            <div class="winner-card">
                <div class="winner-content">
                    <span class="winner-category">GANADOR 2024</span>
                    <h3 class="winner-plate-name">Fusión Celestial</h3>
                    <p class="winner-description">
                        Una innovadora bebida de autor que combina un cold brew infusionado en nitrógeno con notas de cardamomo y una espuma de leche de avena con naranja. Una experiencia multisensorial que desafía los límites del café.
                    </p>
                </div>
                <div class="winner-image">
                    <img src="../public/img/cafe_almojabanero.png" alt="Bebida de Café Ganadora 2024 - Fusión Celestial">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ===================== END WINNERS SECTION ===================== -->
<section id="participants-section" class="participants-section" >
    <div class="participants-container">
        <h2 class="section-title-participants">Participantes del Coffee Master</h2>
        <div class="participants-grid">
            <div  class="participant-card item-one">
                <img src="../public/img/cafe_almojabanero.png" alt="Logo de Aromas y Orígenes Café">
                <h3>Aromas y Orígenes Café</h3>
                <p>Expertos en café de especialidad y métodos de filtrado. Un lugar para puristas del grano.</p>
            </div>

            <div class="participant-card item-second">
                <img src="../public/img/cafe_almojabanero.png" alt="Logo de El Rincón del Barista">
                <h3>El Rincón del Barista</h3>
                <p>El arte latte es su firma. Disfruta de capuchinos y bebidas creativas en un ambiente acogedor.</p>
            </div>
            <div class="participant-card item-third">
                <img src="../public/img/cafe_almojabanero.png" alt="Logo de Estación Cold Brew">
                <h3>Estación Cold Brew</h3>
                <p>Pioneros en la extracción en frío y bebidas refrescantes a base de café. ¡Pura innovación!</p>
            </div>
      </div>
      <div class="participant-spline">
                <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.52/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/kZQMAkeUE9pXJbCT/scene.splinecode"></spline-viewer>
     </div>
    </div>
</section>
<!-- =================== END CATEGORIES SECTION =================== -->
</main>
<!-- ========================= FOOTER ========================= -->
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-column-left">
            <div class="logo-group">
                <img src="../public/img/Logo/Horizontal_Color.svg" alt="Escudo Alcaldía de Zipaquirá" class="footer-logo">
            </div>
            <div class="contact-info">
                <h4>Punto de Información Turística</h4>
                <p>Calle: 4 N° 11-01</p>
                <p>Sábados, domingos y festivos</p>
                <p>10:00 a.m. a 2:00 p.m.</p>
                <p class="copyright">Copyright © 2025</p>
            </div>
            
        </div>
        <div class="footer-column-center">
            <div class="divider"></div>
            <nav class="footer-nav">
                <ul class="nav-links-footer">
                    <li><a href="../view/Rewards.html">CUPONES</a></li>
                    <li><a href="/public/index.html#categories">CATEGORÍAS</a></li>
                    <li><a href="../view/AboutUs.html">SOBRE NOSOTROS</a></li>
                    <li><a href="../view/Contact.html">CONTÁCTANOS</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-column-right">
            <img src="../public/img/Logo/Negativo.svg" alt="Logo de Alcaldía de Zipaquirá" class="alcaldia-logo-big">
            <div class="divider"></div>
        </div>
    </div>
</footer> 
<!-- ======================= END FOOTER ======================= -->
</body>
</html>